/* CSS RESET */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans'
}

h1,h2,h3,h4,p,a {
  margin: 0px;
  outline: none;
  text-decoration: none;
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

/* GRID */

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "hero"
  "order-summary-copy"
  "offer"
  "btn-container"
  ;
}

.hero {
  grid-area: hero;
}

.order-summary-copy {
  grid-area: order-summary-copy;
}

.offer {
  grid-area: offer;
}

.btn-container {
  grid-area: btn-container;
}

.offer {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  grid-template-areas: 
  "offer-icon pricing change-plan"
  ;
}

.offer-icon {
  grid-area: offer-icon;
}

.pricing {
  grid-area: pricing;
}

.change-plan {
  grid-area: change-plan;
}

/* Styling */

:root {
  --color1-: hsl(225, 100%, 98%);
  --color2-: hsl(225, 100%, 94%);
  --color3-: hsl(224, 23%, 55%);
  --color4-: hsl(245, 75%, 52%);
  --color5-: hsl(223, 47%, 23%);
}

body {
  font-family: 'Red Hat Display';
  min-height: 100vh;
}

.container {
  /* NEW - O contain + o bg color criam o efeito certinho. O no-repeat eu já conhecia */
  background: url(/images/pattern-background-desktop.svg) no-repeat;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);

  /* Com min-height 100vh ele garante que o tamanho mínimo do container será a tela toda. Um padrão que se repete. */
  min-height: 100vh;
  
  /* Centralizando o .card no container, nada demais. */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Poderia ser tb: 
  .container {
  position: relative;
  }

  .card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
  }
  */
}

.card {
  background: white;
  border-radius: 20px;
  box-shadow: 0px 23px 16px #C7D0F7;

  /* 
  Para a imagem HERO ficar posicionada corretamente ela depende do max-width do card. 
  O overflow "corta" a imagem e outros elementos que ultrapassam os 450px de largura máxima o card
  */
  max-width: 450px;
  overflow: hidden;
}

.hero {
  height: 220px;
  margin-bottom: 45px;
}

.order-summary-copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 0px 0px;
  margin-bottom: 12px;
}

.order-summary-copy h1 {
  color: hsl(223, 47%, 23%);
  font-size: 28px;
  font-weight: 900;

  margin-bottom: 18px;
}

.order-summary-copy p {
  text-align: center;
  padding: 0px 48px;
  letter-spacing: 0.25px;

  color: hsl(224, 23%, 55%);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.offer {
  align-items: center;
  margin: 0 48px;
  padding: 28px 0px 28px 0px;
  
  border-radius: 10px;
  background-color: var(--color1-);
}

.offer img {
  height: 50px;
  justify-self: end;
  padding-right: 18px;
}

.offer .pricing {
  display: flex;
  flex-direction: column;

}

.offer .pricing h3 {
  font-size: 16px;
  color: rgba(0,0,0,0.9);
  font-weight: 900;

  margin-bottom: 4px;
}

.offer .pricing p {
  font-size: 16px;
  color: var(--color3-)
}

.offer .change-plan {
  text-decoration: underline;
  font-weight: bold;
  color: rgba(96, 0, 223,1);
  font-size: 14px;

  margin-right: 24px;
  cursor: pointer;
}

.offer .change-plan:hover {
  text-decoration: none;
  color: rgba(96, 0, 223,0.5);
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 183px;
  padding-top: 8px;
}

.btn-purchase {
  padding: 15px 0;
  width: 354px;
  height: 50px;
  margin-bottom: 32px;

  background: #382AE1;
  border-radius: 10px;
  border-color: transparent;
  color: white;
  font-weight:900;
  font-size: 16px;
  box-shadow: 0px 17px 26px #C7D0F7;
  cursor: pointer;
}

.btn-purchase:hover {
  opacity: 0.8;
}

.btn-cancel {
  height: 50px;
  letter-spacing: -0.2px;

  border-radius: 20px;
  background: transparent;
  color: var(--color3-);
  font-size: 16px;
  font-weight:900;
  cursor: pointer;
}

.btn-cancel:hover {
  color: var(--color5-);
}
